---
import Layout from '../layouts/Layout.astro';
---

<Layout title = 'HONEY'>
    <div class="bg-gray-100 h-24 w-24 flex items-center justify-center">
        <div class="bg-white h-6 w-6 rounded-full rotate-45 transform"></div>
    </div>
</Layout>

<style>
    .rotate-45 {
        transform: rotate(45deg);
    }
</style>
