<div class="flex h-40 justify-end items-center bg-gradient-to-b from-red-200 to-rose-300">
    <div class="item w-24 h-24 bg-blue-700 m-2.5 text-blue-100">Item 1</div>
    <div class="item w-24 h-24 bg-blue-700 m-2.5 text-blue-100">Item 2</div>
    <div class="item w-24 h-24 bg-blue-700 m-2.5 text-blue-100">Item 3</div>
</div>

<div class="flex h-80 justify-start bg-gradient-to-b from-rose-300 to-amber-100">
    <div class="item w-24 h-24 bg-blue-700 m-2.5 text-blue-100">Item 1</div>
    <div class="item w-24 h-24 bg-blue-700 m-2.5 text-blue-100">Item 2</div>
    <div class="item w-24 h-24 bg-blue-700 m-2.5 text-blue-100">Item 3</div>
</div>