---
const { product } = Astro.props;
---


<div class="item" data-length={product.length} data-mode={product.mode}>
    <div class="bg-gray-900 text-white p-4 rounded">
        <h2 class="font-bold">{product.title}</h2>
        <p>{product.description}</p>
    </div>
</div>