---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const product_informations = [
    {productURL: 'opus-1', title: 'Opus 1', text: 'sdbhjhvsv'},
    {productURL: 'opus-2', title: 'Opus 2', text: 'fsdgfdgd'},
    {productURL: 'opus-3', title: 'Opus 3', text: 'nunfas'},
    {productURL: 'opus-4', title: 'Opus 4', text: 'sdf'},
  ];

  return product_informations.map(({ productURL, title, text }) => {
    return {
      params: { productURL },
      props: { title, text },
    };
  });
}

const { title, text } = Astro.props;
---
<BaseLayout title={title}>
  <div>Product: {title}!</div>
  <div>{text}</div>
</BaseLayout>