---
import BaseLayout from '../../layouts/BaseLayout.astro';

  //Für jedes Produkt wird eine Seite generiert
export async function getStaticPaths() {
  const response = await fetch('https://notenentwickler.com/api/products?populate=*').then((res) => res.json());

  return response.data.map((product) => {
    return {
      params: { productURL: product.attributes.productURL },
      props: { product },
    };
  });
}

const { product } = Astro.props;

const productData = product.attributes;
---

<BaseLayout title={productData.title}>
  <div>Product: {productData.title}!</div>
  <div>{productData.description}</div>
</BaseLayout>