---
import BaseLayout from '../../layouts/BaseLayout.astro';

// Die Produkte werden aus einer JSON-Datei importiert 
import products from '../../database/products.json';

  //Für jedes Produkt wird eine Seite generiert
export async function getStaticPaths() {
  return products.map(({ productURL, title, text }) => {
    return {
      params: { productURL },
      props: { title, text },
    };
  });
}

//Die Seite wird mit den spezifischen Produktdaten gefüllt
const { title, text } = Astro.props;
---

<BaseLayout title={title}>
  <div>Product: {title}!</div>
  <div>{text}</div>
</BaseLayout>